<div class="sidebar">

     

    <div class="search-box">

        <input
            placeholder="Buscar caso">

        <span>🔍</span>

    </div>

    <div class="resume">

        <h3>
            A continuación encuentra el resumen de casos registrados
        </h3>

        <div class="numbers">

            <div>

                

                <p>Abiertos(104)</p>

            </div>

            <div>

               

                <p>En proceso (70)</p>

            </div>

            <div>

                

                <p>Cerrados(30)</p>

            </div>

        </div>

    </div>

  <div class="message">

        <h4>

            Seleccione un incidente para visualizar la información.

        </h4>

    </div>

</div>