<div class="sidebar">

   

    <div class="search-box">

        <input
            placeholder="Buscar caso">

        <span>🔍</span>

    </div>

    <div class="resume">

        <h3>
            A continuación encuentra el resumen de casos registrados
        </h3>

        <div class="numbers">

            <div>

                <h2>104</h2>

                <p>Abiertos</p>

            </div>

            <div>

                <h2>70</h2>

                <p>En proceso</p>

            </div>

            <div>

                <h2>30</h2>

                <p>Cerrados</p>

            </div>

        </div>

    </div>

    <div class="message">

        <h3>

            Seleccione un incidente para visualizar la información.

        </h3>

    </div>

</div>