.dashboard{

    display:flex;

    height:100vh;

    background:#15243a;
}

.content{

    flex:1;

    padding:24px;

    display:flex;

    flex-direction:column;

    gap:20px;
}

.body{

    flex:1;

    display:flex;

    gap:20px;
}